[build-system]
requires = ['oldest-supported-numpy', 'setuptools', 'wheel']
build-backend = 'setuptools.build_meta'

[tool.black]
line-length = 79
target-version = ['py36']

[tool.isort]
profile = 'black'
line-length = 79
order_by_type = 'False'
